* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
/* html {
  font-size: 62.5%;
} */
@media only screen and (min-width: 310px) {
  html {
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 350px) {
  html {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 410px) {
  html {
    font-size: 13px !important;
  }
}

@media only screen and (min-width: 569px) {
  html {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 1000px) {
  html {
    font-size: 16px !important;
  }
}
@-webkit-keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    -webkit-transform: scale(0.75);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.ball-beat {
  width: 20%;
  margin: 2rem auto;
}
.ball-beat > div {
  background-color: #d43c33;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  display: inline-block;
  -webkit-animation: ball-beat 0.7s 0s infinite linear;
  animation: ball-beat 0.7s 0s infinite linear;
}

.ball-beat > div:nth-child(2n-1) {
  -webkit-animation-delay: -0.35s !important;
  animation-delay: -0.35s !important;
}
* {
  transition: all 0.3s;
}
.header {
  height: 64px;
  background: #d43c33;
}

.header .topsvg {
  height: 26px;
  float: left;
  padding: 19px 10px;
}

.header .header-loaded {
  display: inline-block;
  font-size: 15px;
  color: white;
  border: 1px solid white;
  padding: 4px 10px;
  border-radius: 20px;
  float: right;
  margin: 17px 10px;
}
.tabs {
  border-bottom: 1px solid #eee;
  position: fixed;
  width: 100%;
  z-index: 3;
  background: white;
}

.tabs .tabs-list {
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
.tabs .tabs-list li {
  display: inline-block;

  /* border:1px solid red; */
  width: 32.3%;
  position: relative;
}
.tabs .tabs-list li .text {
  display: inline-block;
  position: relative;
  padding: 10px 0;
}
.tabs .tabs-list .active1 {
  color: #d43c33;
}

.tabs .tabs-list .active1 .text::after {
  content: "";
  position: absolute;
  background: #d43c33;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
}
.active {
  display: none;
}
.contents .contents-list {
  margin-top: 104px;
}
.nocollapse::before {
  content: "";
  display: table;
}
.recomusic .reco-music > span,
.newmusic > span {
  display: inline-block;
  font-size: 1.4rem;
  margin: 12px 0;
  padding: 0 0 0 1rem;
  border-left: 2px solid #d43c33;
}
.reco-music > ul{
  white-space: nowrap;
}
.reco-music > ul > li {
  display: inline-block;
  float: left;
  width: 32.3%;
  margin-right: 1.5%;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  position: relative;
}
.reco-music > ul > li:nth-of-type(3n) {
  margin-right: 0;
}
.listennum {
  position: absolute;
  color: white;
  width: 100%;
  font-size: 1rem;
}
.listennum-in {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}
.listennum:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  z-index: 2;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent);
}
.icon {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: -0.15rem;
  fill: currentColor;
  overflow: hidden;
}
.icon,
.listennum p {
  float: left;
}
.reco-music > ul > li img {
  width: 100%;
}

.reco-music > ul > li span {
  display: block;
  padding: 0 0.3rem;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.newmusic {
  margin-bottom: 1rem;
}
.newmusic-in {
  padding: 0 0 0 1rem;
}
.newmusic ul > li {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  position: relative;
}

.newmusic-in .music-na {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.newmusic-in .music-aut img {
  width: 1rem;
}
.newmusic-in .music-aut {
  color: #aaa;
}
.playbtn {
  float: right;
  margin-right: 1rem;
  padding: 0.8rem 0;
}
.playbtn img {
  width: 2rem;
}

.recomusc-footer {
  text-align: center;
  background: transparent url(http://oz73ituo2.bkt.clouddn.com/recommand_bg.png)
    no-repeat center;
  background-size: cover;
}
.recomusc-footer .footer-logo {
  padding: 1rem 0;
}

.recomusc-footer .footer-logo svg {
  width: 19rem;
}
.recomusc-footer .open-app span {
  display: inline-block;
  font-size: 1.3rem;
  border: 1px solid #d43c33;
  color: #d43c33;
  padding: 1rem 4rem;
  border-radius: 30px;
}

.recomusc-footer .app-message {
  font-size: 1rem;
  transform: scale(0.75);
  color: #aaa;
  padding-bottom: 2rem;
}

.hot-header {
  height: 12rem;
  background: transparent url(//oz73ituo2.bkt.clouddn.com/hot_music_bg.jpg)
    no-repeat center;
  background-size: cover;
  background-color: #bbb;
}
.hot-pic {
  display: inline-block;
  margin: 2rem;
}
.hot-header .hot-pic img {
  height: 6rem;
}
.hot-header .hot-pic .hotupdate {
  font-size: 0.8rem;
  color: white;
  transform: scale(0.9);
  margin-left: -0.7rem;
}

.hotmusic-list li {
  padding: 0.3rem 0;
  border-bottom: 1px solid #eee;
  position: relative;
  margin: 0 0.5rem;
}
.hotmusic {
  display: inline-block;
  float: left;
}

.hotmusic-list .listnum {
  display: inline;
  padding: 0.4rem 0;
  float: left;
  margin: 0.5rem;
  font-size: 1.3rem;
  color: #aaa;
}
.hotmusic-list .active1 {
  color: #d43c33;
}
.hotmusic-list .music-na {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.hotmusic-list .music-aut img {
  width: 1rem;
}
.hotmusic-list .music-aut {
  color: #aaa;
}

.hot-music .hot-footer {
  text-align: center;
  color: #aaa;
  font-size: 1.2rem;
  padding: 1.5rem 0;
}
.search {
  padding: 1.2rem 0.8rem;
  border-bottom: 1px solid #eee;
}
.search-song .search-cont {
  padding: 0.7rem 0.8rem;
  width: 90%;
  position: relative;
  margin: 0 auto;
  background: #eee;
  border-radius: 2rem;
}
.search-song .search-conts {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.searchcont {
  margin: 0 auto;
  width: 85%;
}
.search-song .icon {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: #bbb;
}

.search-song .icon3 {
  float: left;
}
span.seachc {
  float: right;
  display: none;
}
/* .search-song .icon4 {
  /* float: right;
  display: none; 
} */

.hotsearch {
  padding: 1rem 0.8rem;
  position: relative;
  height: 100%;
}
.historysh {
  padding: 0 0.8rem 1rem 0.8rem;
}
.hotsearch > span {
  font-size: 1.1rem;
  display: block;
  color: rgb(68, 67, 67);
  margin-bottom: 0.6rem;
}

.hotsearch .hottags > li {
  display: inline-block;
  border: 1px solid #ddd;
  color: #bbb;
  font-size: 1.2rem;
  padding: 0.5rem 1.1rem;
  border-radius: 2rem;
  margin-right: 0.3rem;
  margin-bottom: 0.6rem;
}
.search-song .icon5 {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: #bbb;
}
.icon6 {
  float: left;
  margin-right: 0.4rem;
  padding: 1rem 0;
}
.hissh .hiscont {
  width: 91%;
  float: left;
  padding: 0.8rem 0;
  border-bottom: 1px solid #eee;
}

.historysh .hissh {
  font-size: 1.2rem;
}
.hissh > li {
  position: relative;
}
.hisclose {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.8rem;
  z-index: 1;
}

.hotsearch .searchresults {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  font-size: 1.2rem;
  display: none;
  z-index: 2;
}

.searchresults .resultList {
  padding: 0 0 0 1rem;
  background: white;
}
.searchInput {
  padding: 1rem 1rem 0 1rem;
}
.inputNow {
  font-size: 1.3rem;
  color: #507daf;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
.resultList svg {
  padding: 1rem 0;
}
.searchresults .resultList > li .resCont {
  margin-left: 0.5rem;
  padding: 0.8rem 0;
  border-bottom: 1px solid #eee;
  float: left;
  width: 90%;
}
