* {
  margin: 0;
  padding: 0;
}
/* html {
  font-size: 62.5%;
} */
@media only screen and (min-width: 310px){
    html {
        font-size: 10px !important; 
    }
}
@media only screen and (min-width: 350px){
    html {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 410px){
    html {
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 569px){
    html {
        font-size: 15px !important; 
    }
}
@media only screen and (min-width: 1000px){
    html {
        font-size: 16px !important; 
    }
}

ul{
    list-style: none;
}
.song-wrap {
  position: relative;
  height: 100vh;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.song-wrap>img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  filter: blur(30px) brightness(0.5);
  z-index: -1;
}
.pointer>img{
    width: 7rem;
    position: absolute;
    top:0;
    left: 50%; 
    transform: translate(-20%);
    z-index: 1;
}
.song-gp {
  padding-top: 5rem;
}
.song-gp .circle {
  height: 23rem;
  width: 23rem;
  margin: 0 auto;
  position: relative;
}

.song-gp .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url(//oz73ituo2.bkt.clouddn.com/disc.png) no-repeat center;
  background-size: cover;
}
.song-gp .circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url(//oz73ituo2.bkt.clouddn.com/disc_light.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  animation: rotate 15s infinite linear;
}
.song-gp .circle>img{
    position: absolute;
    width: 70%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    margin-top: -35%;
    margin-left: -35%;
    z-index: -1;
    animation: rotate 15s infinite linear;
}
.song-lyrics{
    text-align: center;
    margin: 2rem 0;
    /* line-height: 2em; */
}
.song-lyrics .song-name{
    font-size: 1.8rem;
    color: rgba(255,255,255,0.9);
}
.song-lyrics .song-author,.song-lyrics ul{
    font-size: 1.4rem;
    color: #bbb;
}
.song-lyrics .lyrices{
    height: 9.7rem;
    /* margin: 0.5em; */
    overflow: hidden;
    position: relative;
    margin: 1rem 0;
}
.song-lyrics ul{
    /* line-height: 2.5rem; */  
    width: 80%;
    padding: 0 4rem;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%);
}
.song-lyrics ul>li{
    margin: 1rem 0;
}
.more-aciton{
    position: absolute;
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    bottom: 1em;
}
.more-aciton>a{
    display: inline-block;
    text-decoration: none;
    padding: 0.6rem 5rem;
    border: 1px solid #d33a31;
    border-radius: 2rem;
}
.more-aciton .open{
    color: #d33a31;
}

.more-aciton .loaded{
    color:white;
    background: #d33a31;
}